/* Bendras stilius: */





/* Rytis stiliaus kodas: */
.contact-us-block .contact-us-oposite {
    padding-left: 50px;
}

.footer-copyright a {
    margin-right: 20px;
}



/* Lukas stiliaus kodas: */
row{
 width: 50%;
 background-color: darkmagenta;   
}





/* Edita stiliaus kodas: */





/* Gabija stiliaus kodas: */