/* Bendras stilius: */





/* Rytis stiliaus kodas: */





/* Lukas stiliaus kodas: */





/* Edita stiliaus kodas: */

.container {
    display: flex;
    border: 15px solid black;
}

.flexbox-item {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid black;
    padding: 50px;
    margin: 10px;
}

.Rytis {
    min-height: 100px;
}

.Lukas {
    min-height: 100px;
}

.Edita {
    min-height: 100px;
}

.Gabija {
    min-height: 100px;
}

/* Gabija stiliaus kodas: */